<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQtoSQL.Properties.Settings.LINQ_PracticeConnectionString"
            connectionString="Data Source=VENUP\VENU12SQLEXPRESS;Initial Catalog=LINQ_Practice;Persist Security Info=True;User ID=sa;Password=venu#1985"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>